In [1]:
import datetime
from pathlib import Path

import pandas as pd
import numpy as np
from scipy import stats

In [2]:
files = [
    "data/1ext-xlm-roberta-base-1617110142.csv",
    "data/1xlm-roberta-base-1616949354.csv",
    "data/2ext-xlm-roberta-base-1617042145.csv",
    "data/2xlm-roberta-base-1616863766.csv", 
    "data/3ext-xlm-roberta-base-1617025687.csv",
    "data/3xlm-roberta-base-1616863766.csv",
    "data/combined-1616865182.csv", 
    "data/xlm-roberta-base-1616793259.csv", 
    "data/youscan-roberta.csv"
]

In [3]:
df = pd.DataFrame()

In [4]:
for file in files:
    inner_df = pd.read_csv(file)
    df = df.append(inner_df, ignore_index=True)

In [5]:
df.head()

   Id  Predicted
0   0          3
1   3          6
2   4          5
3   6          3
4   7          4

In [6]:
df.shape

(145647, 2)

In [7]:
df = df.groupby("Id").Predicted.agg(lambda x: stats.mode(x)[0]).to_frame().reset_index().rename(columns={0: "Predicted"})

In [8]:
df.shape

(16183, 2)

In [9]:
df.head()

   Id  Predicted
0   0          3
1   3          6
2   4          5
3   6          3
4   7          4

In [10]:
df.to_csv(f"subs/combined-submission-{int(datetime.datetime.now().timestamp())}.csv", index=False)